/* Catppuccin Mocha from github.com/catppuccin/wofi or quantumfate/wofi mocha folder */
window {
    margin: 0px;
    border: 2px solid #cba6f7;
    background-color: #1e1e2e;
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #cdd6f4;
    background-color: #313244;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #1e1e2e;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #1e1e2e;
}

#text {
    margin: 5px;
    border: none;
    color: #cdd6f4;
}

#entry:selected {
    background-color: #585b70;
    border: none;
    border-radius: 10px;
}
