* {
  font-family: JetBrains Mono Nerd Font;
  font-size: 14px;
  color: #cdd6f4;
}

window#waybar {
  background-color: #1e1e2e;
  border-bottom: 3px solid #89b4fa;
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #cdd6f4;
}

#workspaces button.active {
  background-color: #89b4fa;
  color: #1e1e2e;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray {
  padding: 0 10px;
}
